/* Estiliza o botão "Add New" no topo das páginas */
button.btn-primary, .object-tools .btn {
    background-color: #6a0dad !important;  /* roxo */
    border-color: #6a0dad !important;
    color: white !important;
    border-radius: 8px;
}
